@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #eed3a5;
  font-family: "Oregano", cursive;
}
header {
  height: 120px;
  background: url(Banner.png);
  background-size: cover;
  margin-top: -30px;
}
.divChild{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-family: "Oregano", cursive;
  font-size: 40px;
}
.subtitle {
  text-align: center;
  font-family: "Oregano", cursive;
  font-size: 20px;
}

#logo {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 230px;
  height: 25px;
  border-radius: 10px;
  border: none;
  margin: 8px 0;
  background-color: #ededed;
  color: black;
  font-family: "Oregano", cursive;
  letter-spacing: 1pt;
}
.father{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}
#toPost{
  background: transparent;
  width: 70%;
  padding: 10px;
  border-radius: 13px;
  outline: none;
  font-size: 15px;
}
#wallForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
/* #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}*/
button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 230px;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin: 15px 0;
  background-color: #bc3551;
  color: white;
  font-family: "Oregano", cursive;
  letter-spacing: 1pt;
}
#googleLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 230px;
  height: 35px;
  border-radius: 10px;
  border: none;
  margin: 15px 0;
  color: white;
  font-family: "Oregano", cursive;
  background: url(google.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-color: #bc3551;
  background-position: 8%;
  letter-spacing: 1pt;
}
a {
  color: #bc3551;
  font-family: "Oregano", cursive;
  float: right;
  margin: 40px 0;
  text-decoration: underline;
}
.frase {
  font-family: "Oregano", cursive;
  float: left;
  margin: 40px 0;
  letter-spacing: 1pt;
}
#headerWall{
  display: flex;
  margin-top: 0px;
  height: 90px;
  background-color: #bc355049;
  background-image: none;
  justify-content: space-around;
}
#logoWall {
  margin-top: 10px;
  width: 70px;
  height: 70px;
}

.titleWall{
  margin-top: 30px;
  margin-left: -30px;
  font-size: 35px;
  font-family: "Oregano", cursive;
}

#exit{
  margin-top: 60px;
}

#postContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
}

#toPostContainer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 20px;
  
  background: #D8BA86;
  border-radius: 15px;
}
#divPub{
  padding: 10px;
  width: fit-content;
}

#confirmPost{
  font-size: 18px;
  margin: 10px
}

#contPub {
  display: flex;
  justify-content: space-between;;
  background: #D8BA86;
  padding: 10px;
  font-size: 20px;
  border-radius: 13px;
  border: none;
  margin: 5px;
  text-align: justify;
  max-height: 200px;
  overflow: scroll;
}
#btnDelete {
  width: 20px;
  height: 20px;
}

#btnsContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit {
  font-size: 18px;
  margin: 10px
}
#modalWindow {
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: -225px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.212);
}

#modalContainer {
  margin: auto;
  position: relative;
  align-items: center;
  text-align: center;
  background: #D8BA86;
  width: 95%;
  border-radius: 15px;
  animation-name: modal;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
}

span {
  font-size: 13px;
}

#closeModal {
  display: flex;
  text-align: right;
  margin-right: 10px;
}

.close {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.close:hover {
  color: rgb(255, 14, 14);
  text-decoration: none;
  cursor: pointer;
}

#editInput {
  width: 95%;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
}

#editBtnPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  border: none;
  
}
@keyframes modal{
  from {top: 0px;}
  to {top: 200px;}
}

.likes {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

#like {
  width: 20px;
  height: 20px;;
}

#counter {
  display: flex;
  margin-top: 5px;
}

#divError{
  display: none;
  width: 90%;
  text-align: center;
  background-color: #f5e2c9;
  border-radius: 10px;
  padding: 5px;
}